* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: Inter;
}

p {
    font-family: Poppins;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background: #FF5959;
    border-radius: 5px;
    border: none;
    padding: 16px 20.5px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/* header styles */
header {
    background-image: url('../images/donation12.png'), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-repeat: no-repeat;
    background-position: cover;
    background-blend-mode: overlay;


}

.header-content {
    text-align: center;
    margin: 0x 307px;
}

.header-title {
    margin: 0 307px;
    padding-top: 174px;
    font-weight: 700;
    font-size: 65px;
    color: white;
    margin-bottom: 20px;
}

.header-description {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}

/* donate tody section styles */
.donate {
    text-align: center;
}

.donate-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-top: 130px;
    margin-bottom: 20px;
}

.donate-description {
    font-size: 18px;
    color: #707070;
    margin-left: 375px;
    margin-right: 375px;
    margin-bottom: 20px;
}

.donate-money {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.single-item {

    background: #FAFAFA;
    border-radius: 5px;
    padding: 50px 50px;
}

.single-item:hover {
    border: 1px solid #FF5959;
    background: #FFEEEE;
    color: #FF5959;
    cursor: pointer;
}

.amount {
    text-align: center;
    color: #B3B3B3;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 9.5px;
}

hr {
    margin-right: 142px;
    margin-left: 142px;
    margin-bottom: 30px;

}

/* donate plan section styles */

.donate-plans {
    display: flex;
    gap: 24px;
    margin-bottom: 130px;
}

.plan1 {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 60px 23px;

}

.plan1 img {
    margin-bottom: 23px;
}

.plan1 h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.plan1 p {
    margin-bottom: 23px;
    line-height: 24px;
    color: #707070;
}

.plan2 {
    background-color: #ffeeee;
    border-radius: 5px;
    padding: 60px 23px;
}

.plan2 img {
    margin-bottom: 23px;
}

.plan2 h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.plan2 p {
    margin-bottom: 23px;
    line-height: 24px;
    color: #707070;
}

.plan3 {
    background-color: #fff4d6;
    border-radius: 5px;
    padding: 60px 23px;
}

.plan3 img {
    margin-bottom: 23px;
}

.plan3 h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.plan3 p {
    margin-bottom: 23px;
    line-height: 24px;
    color: #707070;
}

/* lives section styles */
.lives-container {
    display: flex;
    align-items: center;
    gap: 94px;
    margin-bottom: 100px;
}

.lives-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    margin-bottom: 20px;
}

.lives-info {
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin-bottom: 30px;

}

.lives-img img {
    width: 456px;
    height: 477px;
}